*{
    margin: 0;
    padding: 0;
}
img{
    border: 0;
}
ul,li{
    list-style: none;
}
body{
    height: 100%;
    background-color: #f1e2d5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #f5974b;
}
.wrapper { 
    width:100%; 
    margin:0 auto;
}

.wrapper .inner { 
    width:1000px; 
    margin:0 auto;
}

header#top{
    background: url(../images/head.png) repeat-x 0 0;
    height: 96px;
}
header#top .inner #top-1{
    padding: 10px 20px;
    float: left;
}
header#top .inner .titleWrapper {
    font-size: inherit;
    margin: 10px;
    padding: 0;
    font-weight: 400;
    display: inline;
}
header#top .inner .titleWrapper #primaryTitle {
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
}

nav.wrapper{
    background: none;
    height: 41px;
 }
#top-2{
    height: 41px;
    margin: 0;
    padding: 0;
    float:right;
    display: block;
 }
#top-2 .nav-item{
    /*display: block;放在一列*/
    /*display: inline;放在一行*/
    margin-top: 35px;
    margin-right: 25px;
    float: left;
    position: relative;
    vertical-align: bottom;/*把元素的顶端与行中最低的元素的顶端对齐。*/
 }
#top-2 .nav-item a {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    float: left;
    line-height: 41px;
}
#top-2 .nav-item a:hover{
    background-color: f5974b;
}
.nav-item a span{
    padding: 0 25px;
    height: 41px;
    line-height: 41px;
    font-size: 1.2em;
    display: inline-block;
    cursor: pointer;
}
nav#naver {
    min-height: 100%; 
    height: auto !important; 
    height: 100%;
    margin-top: 2px;
}
nav#naver .inner .nav1{
    border: 0px solid;
    width: 90%;
    height: 450px;
    margin: auto;
    text-align: center;
}
nav#naver .inner form .tab,.nav2{
    background-color: #ddcbbd;
}
nav#naver .inner .nav1 table img{
    margin: -15px;
}
nav#naver .inner .tab{
    width: 90%;
    text-align: center;
    color: #4e2303;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    border-bottom: #fff dotted 1.5px;
    margin: 10px 0px 0 50px;
    padding: 30px 50px;
}
nav#naver .inner .tab th,td{
    padding: 13px;
}
nav#naver .inner .tab th{
    border-bottom: #c5c5c5 1px solid;
}
nav#naver .inner .tab #t1{
    border-bottom: #4e2303 3px solid;
}
nav#naver .inner .tab #tr1{
    padding-top: 40px;
}
nav#naver .inner .nav2{
    width: 90%;
    height: 300px;
    margin: 0px 10px 35px 50px;
    padding-top: 20px;
}
nav#naver .inner .nav2 .nav2-1{
    margin: 10px 0 0 0;
    float: left;
}
nav#naver .inner .nav2 .nav2-1 img{
    width: 300px;
    height: 310px; 
}
nav#naver .inner .nav2 .nav2-2{
    width: 540px;
    height: 300px; 
    float: right;
    margin: 10px 0px 10px 0px;
    padding: 5px 25px;
    background-color: #ddcbbd;
    border: #fff dotted 0.1px;
}

nav#naver .inner .nav2 .nav2-2 h2{
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
    text-align: center;
    padding-top: 15px;
}
nav#naver .inner .nav2 .nav2-2 p{
    text-indent: 2em;
    line-height: 24px;
    font-size: 15px;
}
footer#foot{
    background: url(../images/head.png) repeat-x 0 0;
    height: 30px;
    position: relative;
    padding: 30px 175px 10px 174px;
    color: #ffffff;
}
footer#foot ul li h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
    margin-left: 10px;
}
footer#foot .col-metas .col-path{
    margin: -24px 0px 0 700px;
}
footer#foot .col-metas .col-path span.possplit {
    background-image: url(../images/posSplit.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    display: inline-block;
}
#foot .col-metas .col-path a{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}